<h1>Welcome to {{this.appName}}</h1>
<br>
<button {{on 'click' this.testTransition}}>yeah, I know</button>
<br>
<br>
<pre><code>{{this.qps}}</code></pre><br>
<pre><code>{{this.currentURL}}</code></pre>