<button 
  data-lazy="I know this should be a link" 
  {{on 'click' this.testTransition}}>click the button</button>
<br>
<br>
QueryParams: <pre><code>{{this.qps}}</code></pre><br>
URL: <pre><code>{{this.currentUrl}}</code></pre>
